body.homepage {
	margin: 0px;
	padding: 0px;

	background-color: #1A194F;
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}
/*

html {
	margin: 0px;
	padding: 0px;
}
*/
/*  RESPONSIVE ELEMENTS STYLE*/


/*  NORMAL ELEMENTS STYLE */

.landing-page-msg h2{
	margin-top: 30%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 120px;
	text-align: center;
}

.landing-page-msg h2, .benifits, .courses-list, .in-block {
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
}

.benifits ul li {
	font-size: 16px;
}

.navbar-inner.cg-navbar-main-page {
    background: rgba(255,255,255,0.5);
    border-color: transparent;
}

.navbar.cg-navbar-main-page .brand {
	color: white;
	text-shadow: 0px 1px 0 #777777;
}

.navbar.cg-navbar-main-page .nav > li > a {
	color: white;
	text-shadow: 0px 1px 0 #777777;
}
.in-block {
	/*padding: 0px 70px 0px 100px;*/

}

.carousel-inner {
	height: 300px;
}

#page-container {
	/*margin-top: 50px;*/
}

.DataTable.AddEditRecord tr td {
	vertical-align: top;
}

/* Override with custom css */
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus,.navbar .nav>li>a {
	color: white;
	font-weight: bold;
	text-shadow:0px 0px transparent;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.navbar .nav>.active>a,
.navbar .nav>li.active:hover>a,
.navbar .nav>li.active:focus>a,
.navbar .nav>li:hover>a,
.navbar .nav>li:focus>a
{
	background: rgba(0, 0, 0, 0.3);
	color: white;
}

h2 {
	font-size: 20px;
}

.reg-form-holder legend {
	color: white;
}

.reg-form-holder {
	background: rgba(0,0,0,0.8);
	color: white;
	margin-top: 40px;
	border-radius: 20px;
}

.navbar-inner .container {
	font-size: 14px;
}

.panel {
	border: 1px solid rgb(218, 218, 218);
	margin-bottom: 25px;
}

.panel .panel-header {
	background-color: rgb(218, 218, 218);
	padding: 10px;
}
.panel .panel-body {
}
.panel .panel-body .panel-inner-body{
	margin: 10px 20px;
}
.panel .panel-body ul {
	list-style: none;
}
.panel .panel-body ul li.date {
	text-decoration: underline;
}
.right-away {
	margin-right: 25px;
}

#before-header {
	background:rgb(29, 71, 113);
}

#before-header #nav-menu.breadcrumb {
	font-size: 11px;
	background-color: transparent;
}

#before-header #nav-menu.breadcrumb > li {
	text-shadow: 0px 0px transparent;
}
#before-header #nav-menu.breadcrumb > li a{
	color: rgb(208, 219, 235);
}
#header-phone {
	background: url(https://www.alhudaflexible.com/wp-content/themes/Edu/assets/images/icon-phone.png) no-repeat center right;
	padding-right: 46px;
	text-align: right;
	float: right;
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
#header-phone strong {
	font-size: 18px;
	color: #66cccc;
	font-weight: 700;
	display: block;
}

#before-header .header-right.pull-right.max-width {
	margin-top: 26px;
}
#menu-wrapper {
	background: #099ad1 -webkit-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #099ad1 -moz-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #099ad1 -ms-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #099ad1 -o-linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #099ad1 linear-gradient(top,rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
}