@charset "utf-8";
/* CSS Document */
body{margin:0px;padding:1px;font-family:Calibri;font-size:14px;color:#265D97;border-top:7px solid #265D97;background-color:#FFFFFF;}
.input{}
.Clear{clear:both;}
.MainTable{}
.PageNav{padding:5px;text-decoration:none;text-transform:uppercase;text-align:left;}
.MenuBR{background-color:#CCCCCC;height:1px;}
caption{text-align:right;}
.MenuTable{border:none;}
.MenuTable td{padding:5px;border-left:none;border-top:none;border-bottom:none;border-right:1px;}
.MenuTable a{text-decoration:none;color:#265D97;font-weight:bold;}
.MenuTable a:hover{color:#2C5D97;text-decoration:underline;}
.DataTable{border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;border-collapse: collapse;background: #f9f9f9;margin: 1em 1em 1em 0px;}
.DataTableHeading{border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;background: #265D97;padding-right: 5px;padding-left: 5px;padding-bottom: 5px;padding-top: 5px;color:#FFFFFF;line-height:16px;font-size:14px;}
.DataTableRow{border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;background: #ffffff;padding:5px;line-height:20px;font-size:14px;}
.DataTableRow:hover{border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;background: #8794C4;padding-right: 5px;padding-left: 5px;padding-bottom: 5px;padding-top: 5px;color:#FFFFFF;line-height:16px;font-size:14px;}
.AnchorButton{text-decoration:none;border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;background: #265D97;color:#FFFFFF;}
.AnchorButton:hover{background-color:#8794C4}
.AddEditRecord{margin-left:40px;}
.AddEditRecord th{text-transform:uppercase;}
.AddEditRecord tr{}
#addedit_formerror{color:#FF0000;position:relative;bottom:150px;left:250px;background-color:#00CCFF;width:300px;border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;background: #8794C4;padding:5px;color:#FFFFFF;line-height:16px;}
.addedit_formerror_close{position:absolute; top:-10px; right:-10px;}
#action_message{text-align:left;color:#336666;font-weight:bold;margin-left:100px}
.Dashboard{border:1px solid ##265D97;width:800px;text-align:left}
.DashboardLeft{float:left;}
.DashboardRight{float:right;}
.DashboardHeading{float:left;background-color:#265D97;color:#FFFFFF;padding:5px;margin:5px;width:380px;font-weight:bold}
.DashboardContent{float:left;padding:5px;margin:5px;height:150px;width:375px;overflow:auto;font-weight:bold;}
#popup_box{color:#FF0000;position:relative;bottom:150px;left:250px;background-color:#265D97 !important;border-right: #8794C4 1px solid;border-top: #8794C4 1px solid;border-left: #8794C4 1px solid;border-bottom: #8794C4 1px solid;background: #8794C4;padding:5px;line-height:16px;width:300px;}
.popup_box_close{position:absolute; top:-10px; right:-10px;}
#popup_box_content{text-align:left;color:#000099;background-color:#CCCCCC;padding:5px;max-height:300px;overflow:auto;}
#popup_box_content{height:100px;overflow:auto;}