<!DOCTYPE>
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    Hello {{First_Name}} {{Last_Name}},
    <br/>
    <br/>
    We are warmly welcome to the group of al-huda flexible online courses.
    <br/>
    Your registration is done, verify your email address by clicking on this link
    <br/>
    <br/>
    <a href="{{KEY}}">Click here</a> to verify
    <br/>
  </body>
</html>